<h1><%= display_books_heading(@book) %></h1>

<ul><% @books.all.each do |book| %>
      <%= render 'book_li', book: book %>
</ul><% end %>
<br>

<% if current_user.admin? %>
  <%= button_to "Add book", new_book_path, method: :get %>
  <%= button_to "Add category", new_category_path, method: :get %>
<% end %>