/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Navbar styles */
 .navbar-light {
     background-color:#e3f2fd;
     opacity: 0.9;
     font-weight: 600;
 }

.logged-in {
    text-align: right;
}

.search-wrapper {
    position: relative;
    min-width: 100px;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 39px;
    width: 26%;
    padding: 15px 33px 15px 35px;
    outline: 0;
    background-color: #f5f5f5;
}

.search:hover,
search:focus {
    border: 1.5pxsolid #009688;
    background-color: white;
}

img.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

/* Books index styles */
.books-index-container {
    font-family: 'Times New Roman', Times, serif;
}

.books-index-list {
    padding: 0.125em 1em;
    display: flex;
    flex-direction: column;
}

.books-index-card {
    list-style-type: none;
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    height: 100%;
    /* text-align: center; */
    margin: 0 auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-bottom: 1em;
}

.books-index-card:hover,
.books-index-card:focus {
    opacity: 75%;
    font-weight: 500;
}

.books-index-card-title:hover,
.books-index-card-author:hover {
   text-decoration: none;
}

.books-index-card-title {
    font-weight: 700;
}

/* Author and Categories index styles */

.authors-index-container,
.categories-index-container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.authors-index-list,
.categories-index-list,
.category-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.authors-index-link,
.categories-index-link  {
    margin-bottom: 1em;
}

.authors-index-link a,
.categories-index-link a,
.category-book-link {
    color: #009688;
    font-weight: 800;
}

.authors-index-link a:hover,
.authors-index-link a:focus,
.categories-index-link a:hover,
.categories-index-link a:focus {
   background: #009688;
   opacity: 0.5;
   color: #FFF;
   padding: 0.5em;
   text-decoration: none;
   border-radius: 5%;
   border-bottom: none;
}

/* Category page styles */
.category-container {
    text-align: center;
}

.category-books-list {
    list-style-type: none;
}

/* Book profile styles */
.book-container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.book {
    padding: 0.125em 1em;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
}

/* Author page styles */
.author-container {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.author-container hr {
    width: 50%;
}

.author-books-list {
    list-style-type: none;
}

/* User profile styles */
.user-profile-container {
    font-family: 'Times New Roman', Times, serif;
}

.user-profile-container h1 {
    font-style: italic;
    font-weight: 550;
    margin-bottom: 1em;
}

.user-profile-container h2 {
    font-style: italic;
    text-align: center;
}

.user-books-list {
    padding: 0.125em 1em;
    display: flex;
    flex-direction: column;
}

.user-books-card {
    background-color: beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.user-books-card:hover,
.user-books-card:focus {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 60%;
}

.user-profile-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-link {
    background: #3b4191;
    color: #FFF;
    padding: 1.250em 1em;
    margin-bottom: 1em;
    border-radius: 5%;
}

.user-profile-link:hover,
.user-profile-link:focus {
    text-decoration: none;
    opacity: 80%;
    color: #FFF;
}



.user-profile-link:last-of-type:hover,
.user-profile-link:last-of-type:focus {
    background: rgb(187, 58, 58);
} 

/* Review, author, book form styles  */
form {
    text-align: center;
}

.new_review,
.new_category,
.new_book,
.new_author,
.edit_review,
.edit_category,
.edit_book,
.edit_author {
    font-family: serif;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c3f7d7;
    padding: 1em;
    margin: 0 auto;
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2%;
}

.new_review label,
.new_category label,
.new_book label,
.new_author label {
    margin-bottom: 0.2em;
}

.new_review input[type="submit"],
.new_category input[type="submit"],
.new_book input[type="submit"],
.new_author input[type="submit"],
.edit_review input[type="submit"],
.edit_category input[type="submit"],
.edit_book input[type="submit"],
.edit_author input[type="submit"] {
    padding: 1em;
    background: #009688;
    font-weight: 800;
    border-radius: 2%;
    border: 0;
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.new_review input[type="submit"]:hover,
.new_review input[type="submit"]:focus,
.new_category input[type="submit"]:hover,
.new_category input[type="submit"]:focus,
.new_book input[type="submit"]:hover,
.new_book input[type="submit"]:focus,
.new_author input[type="submit"]:hover,
.new_author input[type="submit"]:focus {
    cursor: pointer;
    background: #018073;
}

#review_rating,
#review_comment {
    margin-bottom: 0.01em;
}

/* Admin styles */
.admin-link {
    padding: 1em;
    background: #018073;
    color: #FFF;
    font-weight: 800;
    border: none;
    border-radius: 2%;
    margin-bottom: 0.8em;
    margin-top: 0.2em;
}

.admin-link:hover,
.admin-link:focus {
    background: #009688;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

.admin-author-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

